.card-container {
     display: flex;
     flex-wrap: wrap;
     margin: auto;
     justify-content: start;
     margin-top: 10px;
     width: 100%;
}
@media (max-width:450px) {
     .card-container {
          width: 100%;
     }
}