.card-container {
     display: flex;
     flex-wrap: wrap;
     margin: auto;
     justify-content: start;
     margin-top: 10px;
}
.loading {
     position: relative;
     margin: 100px auto;
     height: 5px;
     width: 430px;
     text-align: center;
     background: var(--bg1);
     display: flex;
     flex-direction: column;
     justify-content: center;
}
.spin {
     position: absolute;
     width: 90px;
     height: 5px;
     top: 50%;
     left: 40%;
     transform: translate(-50%,-50%);
     background: #1ba94c;
     border-radius: 10%;
     animation: spinner 2s infinite;
}

@keyframes spinner {
     from {
          left: 10%;
     }
     50% {
          left: 90%;
     }
     to {
          left: 10%;
     }
}

@media (max-width:450px) {
     .card-container {
          width: 100%;
     }
     .loading {
          width: 90%;
     }
     .spin {
          width: 50px;
     }
}