.pagenav {
     width: 100%;
     height: 80px;
     margin: 50px 0px;
     padding: 10px;
     display: flex;
     justify-content: center;
     overflow: hidden;
}
.pagination {
     width: 600px;
     height: 100%;
     display: flex;
     justify-content: space-around;
}
.page-item {
     list-style: none;
     display: flex;
     flex-direction: column;
     justify-content: center;
     text-align: center;
}
.page-link {
     width: 50px;
     height: 50px;
     border: none;
     border-radius: 50%;
     background: #0e141e;
     color: #1ba94c;
     font-size: 17px;
     cursor: pointer;
     transition: all 0.35s ease-out;
}
.page-link:hover {
     background: #1ba94c;
     color: #0e141e;
}
.page-link-dots {
     width: 50px;
     height: 50px;
     border: none;
     background: var(--bg);
     color: #1ba94c;
     font-size: 20px;
     font-weight: 700;
     letter-spacing: 10px;
}
.page-link-dots:focus {
     outline: 0;
}

@media (max-width:450px) {
     .page-link {
          width: 40px;
          height: 40px;
     }
     .pagination {
          width: 100%;
     }
}